div.container-fluid{
	
	margin: 0px;
	padding: 0px;
}

h1{
	font-size: 2.1em;
	padding: 10px 50px;
	font-weight: bold;
}


li{	
	float: left;margin: 20px 10px;
	list-style:none;

}

img{
	height: 100%;
	width: 100%;
}
.my-font{
	font-size: 1.1em;
	color: gray;
}
.primera{
	color:red;
}
.rojo{
	background-color: #ED564B;
	font-family: 'Oxygen',sans-serif;
}

.my-glyphicon{
	color:white;
	font-size: 1.6em;
	
}

.my-box {
	padding :50px;
	text-align: center;
	color: #fff;
}

.title-my-box {
	font-weight: bold;
}
.text {
	font-size: 0.55em;
	font-weight:none;
}

.galery {
	padding: 50px 0 5px 80px;
}
section h2{
	font-size: 24px;
    color: #000;
    font-weight: bold;  
}

.h3-galery{
	font-size: 20px;
    color: gray;
    font-weight: bold;
    padding-bottom: 25px;
    border-bottom: 2px solid gray;
}
.caja{
	text-align: center;
	float: left;
	margin-left:20px;
	width: 270px;
	height: 180px;
}

h4 {
	margin-top:10px;
	font-weight: bold;
	font-size: 1.1em;
}

.little {
	margin-top:30px;
	font-weight: bold;
	font-size: 0.9em;
	color: gray;
}

.red {
	color:red;
}

.my-text {
	color: :gray;
	text-align: justify;
}

.limpia{
	clear:both;
}

.foot{
	padding-left:75px;
	clear:both;
	background: #3B3B3B;
	margin-top: 400px;
	color:white;
}

.foot-h3{
	font-size:1em;
	padding-top: 30px;
}

.foot-text {
	color:gray;
	padding-top: 20px;
}
.foot-text-border {
	border-bottom: 1px dotted gray;
}

.foot-a{
	text-decoration: none;
	color:gray;
}


